/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~element-theme-default/lib/reset.css';
@import '~element-theme-default/lib/index.css';

$light-black: #324057;
$dark-white: #f9fafc;
$black: #1f2d3d;
$light-grey: #e5e9f2;
$light-silver: #99a9bf;

body {
  height: 100vh;
  padding: 0;
  background: $light-grey;
  color: $dark-white;
}
h1,
h2,
h3,
h4,
h5 {
  color: $black;
  font-weight: bold;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.titlebar-button {
  -webkit-app-region: no-drag;
}
button {
  -webkit-app-region: no-drag;
}

.container {
  width: 100%;
  max-width: 100%;
  .el-row {
    height: 100vh;

    .el-col {
      height: 100vh;
      padding-top: 50px;
      &:first-child {
        background: $dark-white;
      }
      &:last-child {
        padding: 0 !important;
      }
    }
  }
}

.el-carousel__button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.headbar {
  background: $light-silver;
  padding: 10px 0;
  img {
    cursor: pointer;
  }
}

.el-checkbox {
  display: block;
  margin: 10px;
  margin-left: 15px;
}

.leftmenu {
  a {
    display: block;
    margin: 10px;
    cursor: pointer;
  }
}
